.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  gap: 60px;
}
.welcome-box-left {
  display: flex;
  justify-content: center;
  gap: 120px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2);
  padding: 17px;
  border-radius: 10px;
}
