


* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

.wealth-creation {
  background-image: url('src/assets/wealth-creation.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}